:root {
    --black: rgb(41, 39, 39);
    --white: rgb(235, 235, 235);
    --blue: rgb(23, 122, 184);
    --title: 1.6rem;
    --font-size: 1.4rem;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--black);
    background-color: var(--white);
    font-size: var(--font-size);
}

main {
    display: grid;
}

.title {
    font-size: var(--title);
    font-weight: bold;
}

#welcome {
    position: relative;
    background-color: var(--black);
    color: var(--white);
}

#bg-img {
    height: 70vh;
    background-image: url('code.png');
    background-size: 100% 50%;
    filter: blur(3px);
    padding-bottom: 40px;
}

#bg-text {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome-button {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 200px;
    height: 70px;
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
    border: 1px solid silver;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

#welcome-button:hover {
    background-color: var(--white);
    color: var(--black);
}

#intro {
    display: grid;
    padding: 50px;
    justify-content: center;
}

#intro-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 50px;
}

#services-container {
    display: grid;
    justify-content: center;
    padding: 50px 15px;
    background-color: var(--black);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 20px;
    column-gap: 15px;
}

#services-container > div {
    display: grid;
    border: 1px solid silver;
    border-radius: 10px;
    row-gap: 50px; 
    padding-bottom: 30px;
    background-color: var(--white);
} 

.img-services {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    width: 100%;
}

.text-services {
    width: 80%;
    margin: 10px auto;
}

.text-services > p {
    margin: 50px 0;
}

#outro-container {
    padding: 100px 30px;
    background-color: var(--white);
}

#outro-text {
    width: 60%;
    margin: 1em auto;
}

#info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    color: white;
}

#contact {
    background-color: var(--blue);
    padding: 50px;
}

#about {
    background-color: var(--black);
    padding: 50px;
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: black;
    color: var(--white);
    padding: 30px;
    justify-content: space-between;
}

a {
    color: var(--blue);
    text-decoration: none;
}

#email {
    color: var(--white);
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
  #welcome-button {
      width: 120px;
      height: 60px;
  }
}

@media only screen and (min-width: 1440px) {
        #intro-columns {
        padding: 0 250px;
    }
    #services-container {
        padding: 50px 250px;
    }
}