:root {
    --black: rgb(41, 39, 39);
    --white: rgb(235, 235, 235);
    --title: 2rem;
    --desc: 1.5rem;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    display: grid;
}

#welcome {
    position: relative;
    background-color: var(--black);
    color: var(--white);
}

#bg-img {
    height: 70vh;
    background-image: url('code.png');
    background-size: 100% 50%;
    filter: blur(3px);
    padding-bottom: 40px;
}

#bg-text {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome-title {
    font-size: var(--title);
    font-weight: bold;
}

#bg-text > p {
    width: 80%;
    margin: 1em auto;
    font-size: var(--desc);
}

#welcome-button {
    width: 200px;
    height: 70px;
    background-color: var(--black);
    color: var(--white);
    font-size: var(--desc);
    border: 1px solid silver;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

#bg-text > button:hover {
    background-color: var(--white);
    color: var(--black);
}

#intro {
    display: grid;
    color: var(--black);
    background-color: var(--white);
    padding: 50px 0;
}

#intro-title {
    font-size: var(--title);
    font-weight: bold;
    width: 90%;
    margin: auto;
}

#intro-columns {
    width: 70%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 50px;
    row-gap: 20px;
    font-size: var(--desc);
}

 #services-container {
    padding: 30px 15px;
    background-color: var(--black);
}

#services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 20px;
    column-gap: 20px;
    /* outline: 1px solid yellow; */
    /* width: 100%; */
    margin: auto;
}


#services > div {
    display: grid;
    row-gap: 50px;
    /* 
    padding-bottom: 30px;
    column-gap: 20px;
    justify-items: center; */
    background-color: var(--white);
} 

.img-services {
    height: 200px;
    width: 100%;
}

.text-services {
    width: 70%;
    margin: 10px auto;
}

.text-services > p {
    font-size: var(--desc);
    margin: 50px 0;
}

.title-services {
    font-size: var(--title);
    font-weight: bold;
} 

#info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
  #welcome-button {
      width: 120px;
      height: 60px;
  }
}

@media only screen and (min-width: 1440px) {
    #services, #intro-columns, #bg-text {
        width: 70vw;
    }
}